.navbar{
  background-color: black;
  display: flex;
  justify-content: space-around;
}
.navbar a{
  padding: 1%;
  color: white;
  
  text-decoration: none;
}
.navbar a:hover{
  background-color: grey;
  color:black;
}
.ProductsFlex {
  display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
}